.root {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 200px;

  .wLabel {
    display: flex;
    margin-bottom: 4px;

    .tLabel {
      font-size: 14px;
    }
  }

  select {
    padding: 7px 20px 7px 5px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-size: 14px;
    outline: none;

    option {
      color: #223254;
    }
  }
}
